@media only screen and (max-width: 900px) {
    .all_details2 h3 {
        color: #1f1841;
        font-weight: 800;
        margin-top:0px;
    }
    .paragraph{
        width:100%;
        margin: 0 auto;
    }
    .container1 {
        border-radius: 5px;
        padding: 20px;
        width:90%;
        margin:0 auto;
      
      }
  }